* {
  margin-top:0px;
  margin:0;
  padding:0;
}

body {
  margin-bottom: 100px;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous" cursive;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 28px;
}

h5 {
  text-align: center;
  font-size: 20px;
}

p, ol{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  text-align: left;
}

ol {
  list-style-position: inside;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

div.mini
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-family: 'Merriweather Sans', sans-serif;
}

.navigation {
  font-size: 24px;
  text-align: right;
  color: black;
  text-decoration: none;
  margin: 10px;
}

.site-header {
  background-color: #ffc647;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: right;
}

.tagline {
  font-style: italic;
  font-size: 28px;
  text-align: center;
}

svg {
  margin: auto;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-container {
    display: block;
    margin: auto;
    position: relative;
    width: 80%;
    max-width: 800px;
    vertical-align: top;
    overflow: hidden;
}

#map-container {
  max-height: 500px;
}

#circles-container {
  max-height: 20px;
  margin-bottom: 20px;
}

.state-data {
  margin-top: 30px;
}

.state-name {
  color: grey;
}

.table {
  width: 100%;
  display: table;
}

.row {
  display: table-row;
}

.left-data {
  display: table-cell;
  float:left;
  width:50%;
  border-right-width: 2px;
  border-right-color: #787878;
  border-right-style: solid;
}

.right-data {
  display: table-cell;
  float:right;
  width: 49%;
}

.circle {
  text-align: right;
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border-style: solid;
  border-width: thick;
  border-color: #64be7a;
  display: block;
  margin-right: 100px;
}

#electoral-votes-text {
  text-align: right;
  margin-right: 50px;
}

#polls-text {
  text-align: left;
  margin-left: 50px;
}

.poll {
  text-align: left;
  margin-left: 50px;
  font-size: 30px;
  line-height: 50px;
}

.poll-num {
  text-align: right;
}

#electoral-votes {
  font-size: 100px;
  margin-top: 35px;
  color: #64be7a;
}

#trump-poll {
  color: #fe5555;
}

#clinton-poll {
  color: #2680f6;
}

#undecided {
  color: #ffb000;
}
